:root {
    /* colors */
        /* brand colors */
        --brand-colors-primary: #FFE606;
        --brand-colors-primary-40: rgba(255, 230, 6, 0.40);
        --brand-colors-primary-20: rgba(255, 230, 6, 0.20);
        --brand-colors-unpluq-white: #FEF9F5;

        /* label/brand colors */
        --label-text-colors-primary: #FFF;
        --label-text-colors-secondary: rgba(235, 235, 245, 0.60);
        --label-text-colors-tertiary: rgba(235, 235, 245, 0.30);
        --label-text-colors-quarternary: rgba(235, 235, 245, 0.18);

        /* fill colors */
        --fill-colors-primary: rgba(128, 128, 120, 0.32);
        --fill-colors-secondary: rgba(128, 128, 120, 0.24);
        --fill-colors-tertiary: rgba(128, 128, 120, 0.18);
        --fill-colors-quarternary: rgba(128, 128, 120, 0.18);

        /* seperator colors */
        --icon-colors-opaque: #38383A;
        --icon-colors-non-opaque: #777;

        /* background colors */
        --background-colors-primary: #000;
        --background-colors-secondary: #222;
        --background-colors-tertiary: #333;
}