.card{
    position:relative;
    width:300px;
    height:500px;
}

.websiteItem{
    position:relative;
    width:100%;
    height:auto;
    padding:0.2;
    /* background-color:blue; */
}

.websiteItemName{
    position:relative;
    left:0.2em;
    font-size:2em;
}

.websiteItemSwitch{
    position:absolute;
    top:0;
    right:0.2em;
    height:2em;
}

button{
    width:50%;
    height:2em;
    margin-top:1em;
    /* margin-left:25%; */
}